<header>


  <nav>   
    <div id="logo"><%= link_to "/pages/home" do %><%= image_tag("logo.png", :alt => "Logo here") %><% end %></div>

    
    <div id="search-top">


    </div> 

    <div id="nav_social">






   
    </div>
  </nav>  
</header>

